[Desktop Entry]
Encoding=UTF-8
Name=decopter
Comment=Unrealistic helicopter simulator
Comment[pl]=Nierealistyczny symulator helikoptera 
Exec=decopter
Terminal=false
Icon=decopter.png
Type=Application
# vi: encoding=utf-8
