[Desktop Entry]
Name=decopter
Comment=Unrealistic helicopter simulator
Comment[pl]=Nierealistyczny symulator helikoptera 
Exec=decopter
Terminal=false
Icon=decopter
Type=Application
Categories=Game;
# vi: encoding=utf-8
